{% extends 'WICSApp/base.html' %}

{% block content %}

<div class="featurette" id="quotes" style="text-align:center">
    <p class="lead">{% if quote %}
        <ul>
            <h2 class="featurette-heading" style="padding-right: 10px">&quot;<a href=""></a>{{ quote.quote_text }}&quot;</h2>
            <br>
            <h2 class="featurette-heading" style="padding-right: 10px">
              <div><button name="--" class = "btn btn-primary" style="background-color:red; width: 50px" onclick="location.href = '/WICSApp/{{ quote.id }}/results'"> -- </button>&nbsp;&nbsp;{{ quote.rank }}&nbsp;&nbsp;<button name="++" onclick="location.href = '/WICSApp/{{ quote.id }}/'" class = "btn btn-primary" style="background-color:green; width: 50px"> ++  </button>&nbsp;&nbsp;</div>
            <h2>
            <hr class="featurette-divider">

        </ul>
    {% else %}
        <p>No quotes are available.</p>
    {% endif %}</p>
</div>
{% endblock %}
